.main-container {
	min-height: calc(100vh - 40px) !important;
	padding: 48px;

}

.over-y{
	overflow-y: hidden !important;
}

.main-2-column {
	display: grid;
	grid-template-columns: 3fr 1.5fr;
}

.comment-wrapper {
	overflow-y: auto;
	background-color: whitesmoke;
	min-height: 430px;
	max-height: 430px;
}
