{% load humanize %}
<section class="blog-list px-3 py-5 p-md-5 ">
    <div class="container">
        {% for room in rooms %}
            {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id%}">Edit</a>
                <a href="{% url 'delete-room' room.id%}">Delete</a>
            {% endif %}
            <div class="item mb-5">
                <div class="media">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="{% url 'room' room.id%}">{{room.name}}</a></h3>
                        <small><a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a></small> 
                        
                        <div class="meta mb-1"><span class="date">
                            {{room.created_in}}
                        </span>
                            {% if room.message_set.all.count > 0 %}
                            <span class="time">
                            {% for m in room.message_set.all %}
                                {% if forloop.last %}
                                {{m.created_in}}
                                {% endif %}
                            {% endfor%}
                            </span>
                            {% endif %}
                            <span class="comment">
                                <a href="#">
                                    {{room.message_set.all.count}}
                                {% if room.message_set.all.count > 1 or room.message_set.all.count == 0%} 
                                    menssagens
                                {% else %}
                                    menssagem
                                {% endif %}
                                </a>
                            </span>
                        </div>
                        <div class="intro">{{room.desc|truncatechars:70}}</div>
                        
                        <a class="more-link" href="{% url 'room' room.id%}">Entre na sala &rarr;</a>
                       
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
            
            <!-- <nav class="blog-nav nav nav-justified my-5">
                <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                <a class="nav-link-next nav-item nav-link rounded" href="blog-list.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            </nav>				 -->
        {% endfor %}
    </div>
</section>

