{% extends 'main.html' %} {% block content %}
<div class="main-container">
	<form action="" method="post">
		{% csrf_token %}
		<h4>Código para entrar na sala "{{obj}}"</h4>
		<div class="m-2 my-md-3">
			<div class="">
				<input class="join-form" type="text" name="room_join" placeholder="Digite o código da sala..." required>
				<div class="mt-3">
					<input class="btn btn-primary" type="submit" value="Confirm" />
					<button class="btn btn-secondary">
						<a class="text-white text-decoration-none href="{{request.META.HTTP_REFERER}}">Voltar</a>
					</button>	
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
