{% extends 'main.html' %}

{% block content%}
    <div class="main-2-column main-container">
        <div>
            <button class="btn btn-primary"><a class="text-white text-decoration-none"href="{% url 'user-profile' user.id %}">Perfil</a></button>
            <div class="main-container content py-5">
                <div class="form__group">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div>
                            {{field.label}}
                            {{field}}
                        </div>
                        {% endfor %}
                        <input class="btn btn-primary bg-primary mt-3 px-5" type="submit" value="Confirmar">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

