{% extends 'main.html' %}

{% block content %} 

    <div class="main-container d-flex align-items-center">
        <form class="w-100" action="" method="post">
            {% csrf_token %}
            <div class="form__group mb-3">
              
              <label for="room_classe">Entre ou Crie uma classe</label>
              
              <input required type="text" value="{{room.classe.name}}" name="classe" list="classe-list" />
              <datalist id="classe-list">
                <select id="room_classe">
                  {% for classe in classes %}
                  <option value="{{classe.name}}">{{classe.name}}</option>
                  {% endfor %}
                </select>
              </datalist>
            </div>
            <div class="form__group mb-3 w-100">
              
              <label  for="room_name">Nome da Sala</label>
              
              <div class="form-control2">
                {{form.name}}
              </div>
            </div>

            <div class="form__group mb-3 w-100">
              
              <label  for="room_name">Código para acessar a sala</label>
              
              <div class="form-control2">
                {{form.room_join}}
              </div>
            </div>

            <div class="form__group mb-3 w-100">
              
              <label  for="room_name">Chave para Criptografia</label>
              
              <div class="form-control2">
                {{form.crypt_key}}
              </div>
            </div>
            <div class="form__group mb-3 w-100">
              
              <label  for="room_name">Insira um período de data</label>
              <small>Exemplo: 2022-10-1, 2022-11-1</small>
              
              <div class="form-control2">
                {{form.data_control}}
              </div>
            </div>

            <div class="form__group mb-3">
              <label for="room_description">Descrição da Sala</label>
              {{form.desc}}
            </div>

            <div class="form__action">
              <a class="btn btn-dark px-5 py-2" href="{% url 'home' %}">Cancel</a>
              <input type="submit" class="btn btn-primary px-5 py-2" value="Confirmar">
            </div>
        </form>
    </div>

{% endblock content %}