{% extends 'main.html' %}
{% load humanize %}

<!-- start block -->
{% block content %}

<div class="main-container main-2-column">
	<div class="comment-container">
		<div>
			<h2>Sala - {{room.name}}</h2>
			<p>{{room.desc}}</p>
			
			<h3>Menssagens</h3>
		</div>
		{% if user.id == request.user.id %}
			<form action="" method="post">
				{% csrf_token %}
				<div class="my-3">
					<div>
						<label for="key_cryp">Digite sua chave para Criptografar ou Descriptografar</label>
					</div>
					<input type="text" placeholder="Digite a chave">
					<input type="submit" value="Enviar">
				</div>
			</form>
		{% endif %}
		<div class="comment-wrapper p-3 mr-2">
			<div>
				{% for message in room_messages %}
				<div>
					{% if request.user == message.user %}
					<a href="{% url 'delete-message' message.id %}">Delete</a>
					{% endif %}
					<small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a> {{message.created_in}}</small>
					<p>{{message.body}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="comment-form mt-3">
			<form action="" method="post">
				{% csrf_token %}
				<input
					type="text"
					name="body"
					placeholder="Escreva sua menssagem aqui..."
				/>
			</form>
		</div>
	</div>
	<div class="container">
		<h3>Participantes</h3>
		<hr />
		{% for user in participantes %}
		<div>
			<p>	
				<a href="{% url 'user-profile' user.id %}">
					@{{user.username}}</p>
				</a>
			</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
