{% extends 'main.html' %}

{% block content%}
    <div class="main-2-column main-container">
        <div>
            <button class="btn btn-primary"><a class="text-white text-decoration-none" href="{% url 'user-config' %}">Editar Perfil</a></button>
            {% include 'base/feed_component.html' %}
        </div>
        {% if user == request.user %}
            <div>
                {% include 'base/activity_component.html' %}
            </div>
        {% endif %}
    </div>
{% endblock content %}